---
layout: page
title: Posts by Tag
image: /assets/img/common/books.jpg
permalink: /tags/
---

{% assign sortedTags=site.tags | sort:[first] %}

<div class="tag-cloud">
  {% for tag in sortedTags %}
    <a href="#{{ tag.first }}" class="tag">{{ tag.first }}</a>
  {% endfor %}
</div>

{% for tag in sortedTags %}
  {% assign tagName=tag.first %}
  <h3 id="{{ tagName }}">{{ tagName }}</h3>
  <ul>
    {% for post in site.tags[tagName] %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
