/* Assume a baseline of 14px */
/* Backgorund courtesy subtlepatterns.com */

.no-gutter {
  padding: 0;
}

.no-border {
  border: 0;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 1em; /* 16 px */
}

body {
  margin-bottom: 56px;
  background-color: #ebebeb;
  color: #333;
  font-family: 'Lora', sans-serif;
  font-size: 1.125em; /* 18px/16px  */
  font-weight: 400;
  line-height: 1.55; /* 2 x baseline | 28px/18px */
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 970px !important;
}

.navbar-default {
  background-color: #fff !important;
  color: #777 !important;
}

.navbar-header {
  min-height: 56px;
}

.navbar-menu, .navbar-social {
  margin: 0;
  padding: 0;
}

.navbar-menu>li>a, .navbar-social>li>a {
  padding: 0.97em 0 0; /* 1 x baseline | 14px/14.4px */;
  min-height: 3.89em; /* 4 x baseline | 56px/14.4px */
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 0.8em; /* 14.4px/18px */
  line-height: 1.94; /* 2 x baseline | 28px/14.4px */
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar-menu>li>a {
    margin-right: 1.94em; /* 28px/14.4px */
  }
}

@media (min-width: 768px) {
  .navbar-social>li>a {
    margin-left: 1.94em; /* 28px/14.4px */
  }
}

.navbar-menu>li>a:hover, .navbar-menu>li>a:active, .navbar-menu>li>a:focus, .navbar-menu>.active>a {
  background-color: inherit !important;
}

.navbar-menu>li>a:hover, .navbar-menu>li>a:active, .navbar-menu>li>a:focus {
  color: #000 !important;
}

.navbar-menu>.active>a {
  color: #e49b00 !important;
}

.navbar-menu>.active>a:hover, .navbar-menu>.active>a:active, .navbar-menu>.active>a:focus {
  color: #ffc13d !important;
}

.github:hover, .github:active {
  color: #000000 !important;
}

.twitter:hover, .twitter:active {
  color: #55acee !important;
}

.linkedin:hover, .linkedin:active {
  color: #007bb5 !important;
}

.cover {
  margin-top: 3.11em; /* 56px/18px */
  width: 100%;
  min-height: 21em; /* 27 x baseline | 378px/18px */
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  .cover {
    min-height: 28em; /* 36 x baseline | 504x/18px */
  }
}

.post-preview {
  background-color: #fff;
  margin: 1.556em 0; /* 2 x baseline | 28px/18px */
  padding: 0.778em; /* 14px/18px */
}

@media (min-width: 768px) {
  .post-preview {
    padding: 0.778em 3.89em; /* 14px/18px, 70px/18px */
  }
}

.post-preview-title {
  margin-top: 0.438em; /* 1 x baseline | 14px/32px */
  margin-bottom: 0;
  font-size: 1.778em; /* 32px/18px */
  line-height: 1.313; /* 3 x baseline | 42px/32px*/
  font-family: 'Raleway', sans-serif;
}

.post-preview-title a, .post-preview-title a:hover, .post-preview-title a:active {
  color: #000;
  text-decoration: none;
}

.post-preview-date {
  font-size: 0.889em; /* 16px/18px */
  line-height: 1.75; /* 2 x baseline | 28px/16px */
  color: #777;
  margin-bottom: 0.875em; /* 1 x baseline | 14px/16px */
}

.post-preview-comments {
  color: #0096f0;
  margin-left: 1.75em; /* 28px/16px */
}

.post-preview p {
  padding: 0;
}

.post-preview-read-more {
  text-align: right;
  font-weight: 700;
}

.post-wrapper {
  width: 100%;
  background: #ebebeb url("/assets/img/layout/background-shattered.gif") left top repeat-x;
}

.container-post {
  padding: 0.778em; /* 14px/18px */
  background-color: #fff;
}

@media (min-width: 768px) {
  .container-post {
    padding: 0 3.89em 1.556em; /* 70px/18px, 28px/18px */
    position: relative;
    top: -3.89em; /* 70px/18px */;
  }
}

.tag-cloud {
  margin-bottom: 1.55em; /* 2 x baseline | 28px/18px */
}

.tag {
  display: inline-block;
  height: 1.94em; /* 2 x baseline | 28px/14.4px */
  margin: 0 0.14em 0.97em 0;
  border-radius:  0.28em;
  padding: 0 0.83em;
  background-color: #e49b00;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 0.8em; /* 14.4px/18px */
  line-height: 1.94em; /* 2 x baseline | 28px/14.4px */
  text-decoration: none;
}

.tag:hover, .tag:active, .tag:focus {
    background-color: #ffc13d;
    color: #fff;
    text-decoration: none;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.h1, h1 {
  margin-top: 0.95em; /* 3 x baseline | 42px/44.28px */
  margin-bottom: 0.32em; /* 1 x baseline | 14px/44.28px */
  font-size: 2.46em; /* 44.28px/18px */
  line-height: 1.26; /* 4 x baseline | 56px/44.28px */
}

.h2, h2 {
  margin: 1em 0; /* 2 x baseline | 28px/28.26px */
  font-size: 1.57em; /* 28.26px/18px */
  line-height: 1.49; /* 3 x baseline | 42px/28.26px*/
}

.h3, h3 {
  margin: 1.56em 0; /* 2 x baseline | 28px/18px */
  font-size: 1em; /* 18px/18px */
  line-height: 1.56; /* 2 x baseline | 28px/18px */
}

.date {
  margin: 0;
  padding-bottom: 1.24em; /* 2 x baseline | 28px/22.5px */
  font-size: 1.25em; /* 22.5px/18px */
  font-style: italic;
  line-height: 1.24; /* 2 x baseline | 28px/22.5px */
}

.lead {
  margin: 0;
  padding-bottom: 1.24em; /* 2 x baseline | 28px/22.5px */
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em; /* 22.5px/18px */
  line-height: 1.25em; /* 2 x baseline | 28px/22.5px */
}

p {
  margin: 0;
  padding-bottom: 1.55em; /* 2 x baseline | 28px/18px */
}

small, .small {
  font-size: 0.8em; /* 14.4px/18px */
  line-height: 1.94em; /* 2 x baseline | 28px/14.4px */
}

a {
  color: #e49b00;
  font-weight: 700;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #e49b00;
  text-decoration: underline;
}

.mjx-chtml {
  font-size: 110% !important;
}

.filename {
  float: right;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 0.8em; /* 14.4px/18px */
  line-height: 1.94; /* 2 x baseline | 28px/14.4px */
}

.syntax {
  clear: right;
  margin: 0 0 1.94em; /* 2 x baseline | 28px/14.4px */
  border-width: 1px 0;
  border-radius: 0;
  padding: 0.97em 1.94em; /* 1 x baseline | 14/14.4px, 2 x baseline | 28px/14.4px */
  background: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8em; /* 14.4px/18px */
  line-height: 1.94; /* 2 x baseline | 28px/14.4px */
}

.comments-wrapper {
  background: #222;
}

.container-comments {
  padding: 0.778em; /* 14px/18px */
  color: #fff;
}

@media (min-width: 768px) {
  .container-comments {
    padding: 0 3.89em 0.78em; /* 70px/18px, 14px/18px */
  }
}

.comments-title {
  margin-top: 0.5em; /* 1 x baseline | 14px/28.26px */
}

@media (min-width: 768px) {
  .comments-title {
    margin-top: 1.49em; /* 3 x baseline | 42px/28.26px */
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  padding: 0px;
  background-color: #fff;
  color: #777;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
}

.github-logo {
  float: right;
}

.github-logo span {
  position: relative;
  top: 22px;
}

.github-logo img {
  margin-top: 12px;
}
