/* Assume a baseline of 14px */
/* Backgorund courtesy subtlepatterns.com */

.no-gutter {
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 1em; /* 16 px */
}

body {
  margin-bottom: 60px;
  background-color: #ebebeb;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.125em; /* 18px/16px  */
  font-weight: 400;
  line-height: 1.556; /* 2 x baseline | 28px/18px */
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 970px !important;
}

.header {
  width: 100%;
  background-color: white;
}

.header-brand {
  margin: 1.3125em 0 0.4375em; /* 3 x baseline, 1 x baseline | 42px/32px, 14px/32px */
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.778em; /* 32px/18px */
  line-height: 1.3125; /* 3 x baseline | 42px/32px */
}

.header-brand a, .header-brand a:hover, .header-brand a:active {
  color: #0064a4;
  text-decoration: none;
}

.header-tagline {
  float: right;
  position: relative;
  top: 2.33em; /* 3 x baseline | 42px/18px */
  margin-bottom: 2.33em; /* 3 x baseline | 42px/18px */
  padding-left: 2.33em; /* 42px / 18px */
  color: #777;
  text-align: right;
  font-family: 'Gloria Hallelujah', sans-serif;
  font-size: 0.5625em; /* 18px/32px */
  line-height: 0.778; /* 1 x baseline | 14px/18px */
  z-index: 10000;
}

.navbar {
  margin: 0;
  border: 0;
  padding: 0;
  min-height: 2.55em; /* 4 x baseline | 56px/22px */
  font-size: 1.22em; /* 22px/18px */
}

@media (min-width: 768px) {
 .navbar {
   min-height: 0;
 } 
}

.navbar-menu {
  margin: 0;
}

.navbar-menu>li>a {
  padding: 14px 0;
  line-height: 1.27; /* 2 x baseline | 28px/22px */
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar-menu>li>a {
    margin-right: 28px;
  }
}

.navbar-menu>li>a:hover, .navbar-menu>li>a:active, .navbar-menu>.active>a {
    background-color: inherit !important;
}

@media (min-width: 768px) {
  .navbar-menu>li>a:hover, .navbar-menu>li>a:active, .navbar-menu>.active>a {
    border-style: solid;
    border-color: #0064a4;
    border-width: 0 0 5px 0;
    padding-bottom: 9px;
    text-decoration: none;
  }
}

.navbar-social>li>a {
    font-size: 1.455em; /* 32px/22px */
    line-height: 1.3125; /* 3 x baseline | 42px/32px */
    padding-top: 0.21875em; /* 1/2 x baseline | 7px/32px */
    padding-bottom: 0;
    text-decoration: none;
}

.github:hover, .github:active {
  color: #000000 !important;
}

.twitter:hover, .twitter:active {
  color: #55acee !important;
}

.linkedin:hover, .linkedin:active {
  color: #007bb5 !important;
}

.navbar-toggle {
  border-style: none;
}

.cover {
  width: 100%;
  min-height: 23.333em; /* 30 x baseline | 420px/18px */
  background-position: center;
  background-size: cover;
}

.cover-tag {
  background-color:white;
  padding: 0.333em; /* 14px/42px */
  margin-top: 1.667em; /* 70px/42px */
  margin-left: 1em; /* 42px/42px */
  margin-bottom: 1em; /* 42px/42px */
  border-style: solid;
  border-color: #0064a4;
  border-width: 0 0 0 14px;
  font-size: 2.333em; /* 42px/18px */
  line-height: 1.34; /* 4 x baseline | 56px/42px */
  font-family: 'Pathway Gothic One', sans-serif;
}

.cover-panel {
  width: 100%;
  min-height: 23.333em; /* 30 x baseline | 420px/18px */;
  padding: 0.778em; /* 14px/18px */
  color: white;
  background: rgba(0, 100, 164, 0.8);
  float: right;
}

@media (min-width: 768px) {
 .cover-panel {
   padding: 0 3.889em; /* 70px/18px */
 }
}

.cover-title {
  margin: 0.333em 0; /* 1 x baseline | 14px/42px */
  font-size: 2.333em; /* 42px/18px */
  font-family: 'Pathway Gothic One', sans-serif;
  line-height: 1.34; /* 4 x baseline | 56px/42px */
}

.featured-post-date {
  margin-right: 2em; /* 36px/18px */
}

@media (min-width: 768px) {
  .cover-title {
    margin-top: 1.666em; /* 5 x baseline | 70px/42px */
  }
}

.cover-panel a {
  color: #fff;
  text-decoration: none;
}

.cover-panel a:hover, .cover-panel a:active {
  color: #fff;
  text-decoration: underline;
}

.cover-title a, .cover-title a:hover, .cover-title a:active {
  color: #000;
  text-decoration: none;
}

a.btn-cover {
  display: inline-block;
  float: right;
  margin-bottom: 3em; /* 3 x baseline | 42px/14px */
  font-size: 0.778em; /* 14px/18px */
  line-height: 2; /* 2 x baseline | 28px/14px */
  height: 2em; /* 2 x baseline | 28px/14px */\
  border-radius:  0.214em; /* 3px/14px */
  padding: 0 0.714em; /* 10px/14px */
  border: 0;
  color: #0064a4;
  background-color: #f8f8f8;
  font-weight: 700;
  text-decoration: none;
}

a.btn-cover:hover, a.btn-cover:active {
  color: #fff;
  background-color: #0096F0;
  text-decoration: none;
}

.post-preview {
  background-color: #fff;
  margin: 1.556em 0; /* 2 x baseline | 28px/18px */
  padding: 0.778em; /* 14px/18px */
}

@media (min-width: 768px) {
  .post-preview {
    padding: 0.778em 3.89em; /* 14px/18px, 70px/18px */
  }
}

.post-preview-title {
  margin-top: 0.438em; /* 1 x baseline | 14px/32px */
  margin-bottom: 0;
  font-size: 1.778em; /* 32px/18px */
  line-height: 1.313; /* 3 x baseline | 42px/32px*/
  font-family: 'Pathway Gothic One', sans-serif;
}

.post-preview-title a, .post-preview-title a:hover, .post-preview-title a:active {
  color: #000;
  text-decoration: none;
}

.post-preview-date {
  font-size: 0.889em; /* 16px/18px */
  line-height: 1.75; /* 2 x baseline | 28px/16px */
  color: #777;
  margin-bottom: 0.875em; /* 1 x baseline | 14px/16px */
}

.post-preview-comments {
  color: #0096f0;
  margin-left: 1.75em; /* 28px/16px */
}

.post-preview p {
  padding: 0;
}

.post-preview-read-more {
  text-align: right;
}

.container-content-wrapper {
  width: 100%;
  background: #ebebeb url("/assets/img/layout/background-shattered.gif") left top repeat-x;
}

.container-content {
  background-color: #fff;
}

@media (min-width: 768px) {
  .container-content {
    padding: 0 3.89em 1.556em; /* 70px/18px, 28px/18px */
    position: relative;
    top: -3.89em; /* 70px/18px */;
  }
}

.container-tags {
    font-size: 0.889em; /* 16px/18px */
    line-height: 1.75; /* 2 x baseline | 28px/16px */
    padding: 0.875em; /* 1 x baseline | 14px/16px */
    background-color: #333;
    font-weight: 700;
}

.container-tags .row {
  margin: 0;
}

.container-tags a, .container-tags a:hover, .container-tags a:active {
  color: #fff;
  text-decoration: none;
}

.all-tags {
  float: right;
  font-weight: 400;
}

.tag-cloud {
    margin-bottom: 1.556em; /* 2 x baseline | 28px/18px */
    padding-left: 1.167em; /* 21px/18px */
}

.tag-cloud-tag {
  display: inline-block;
  font-size: 0.778em; /* 14px/18px */
  line-height: 2; /* 2 x baseline | 28px/14px */
  height: 2em; /* 2 x baseline | 28px/14px */
  margin-right: 0.214em; /* 3px/14px */
  margin-bottom: 1em; /* 1 x baseline | 14px/14px */
  border-radius:  0.214em; /* 3px/14px */
  padding: 0 0.714em; /* 10px/14px */
  color: white;
  background-color: #0064a4;
  text-decoration: none;
  font-weight: 700;
}

.tag-cloud-tag:hover, .tag-cloud-tag:active {
    color: #fff;
    background-color: #0096f0;
    text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight: inherit;
  border-style: solid;
  border-color: #0064a4;
  border-width: 0 0 0 7px;
  padding-left: 14px;
}

.h1, h1 {
  margin-top: 1em; /* 3 x baseline | 42px/42px */
  margin-bottom: 0.667em; /* 2 x baseline | 28px/42px */
  font-size: 2.333em; /* 42px/18px */
  line-height: 1.34; /* 4 x baseline | 56px/42px */
}

.h2, h2 {
  margin-top: 1.313em; /* 3 x baseline | 42px/32px */
  margin-bottom: 0.875em; /* 2 x baseline | 28px/32px */
  font-size: 1.778em; /* 32px/18px */
  line-height: 1.313; /* 3 x baseline | 42px/32px*/
}

.h3, h3 {
  margin-top: 1.167em; /* 2 x baseline | 28px/24px */
  margin-bottom: 1.167em; /* 2 x baseline | 28px/24px */
  font-size: 1.33em; /* 24px/18px */
  line-height: 1.18; /* 2 x baseline | 28px/24px */
}

.lead {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1.273em; /* 2 x baseline | 28px/22px */
  font-size: 1.222em; /* 22px/18px */
  line-height: 1.273em; /* 2 x baseline | 28px/22px */
}

p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1.5565em; /* 2 x baseline | 28px/18px */
}

small, .font_small {
  font-size: 0.75em; /* 13.5px/18px */
}

a {
  color: #0096f0;
  text-decoration: none;
}

a:hover, a:active {
  color: #0096f0;
  text-decoration: underline;
}

.mjx-chtml {
  font-size: 110% !important;
}

.comments-wrapper {
  background: #333;
  color: #fff;
}

.comments-wrapper a {
  color: #0096F0;
}

.container-comments {
  padding: 0.778em; /* 14px/18px */
}

@media (min-width: 768px) {
  .container-comments {
    padding: 0 3.89em; /* 70px/18px */
  }
}

.comments-title {
  font-family: 'Pathway Gothic One', sans-serif;
  margin-top: 0.438em; /* 1 x baseline | 14px/32px */
  margin-bottom: 0.875em; /* 2 x baseline | 28px/32px */
  font-size: 1.778em; /* 32px/18px */
  line-height: 1.313; /* 3 x baseline | 42px/32px*/
}

@media (min-width: 768px) {
  .comments-title {
    margin-top: 1.313em; /* 3 x baseline | 42px/32px */
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 0px;
  background-color: #f5f5f5;
}

.github-logo {
  float: right;
}

.github-logo span {
  position: relative;
  top: 20px;
}

.github-logo img {
  margin-top: 6px;
}

.wide-container {
  width: 100%;
  margin-top: 25px;
  padding: 0px;
  text-align: center;
  background-color: #333;
}

.wide-img-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.wide-container img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.wide-container p {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #f5f5f5;
  font-size: 32px;
  font-style: italic;
}
