---
layout: default
---
<div class="cover" style="background-image:url('{{ page.image }}')"></div>
<div class="container-content-wrapper">
  <div class="container container-content">
    <h1>{{ page.title }}</h1>
    <div class="tag-cloud">
    	{% assign tagNames="" | split:"|" %}
    	{% for tag in page.tags %}
    		{% assign tagName=tag.first %}
    		{% assign tagNames=tagNames | push:tagName %}
    	{% endfor %}
    	{% assign tagNames=tagNames | sort %}
    	{% for tagName in tagNames %}
    		<a href="/tags/#{{ tagName }}" class="tag-cloud-tag">{{ tagName }}</a>
    	{% endfor %}
    </div>
    <p class="lead">{{ page.excerpt | remove:'<p>' | remove:'</p>' }}</p>
    {{ content | remove_first:page.excerpt }}
  </div>
</div>
<div class="comments-wrapper">
  <div class="container container-comments">
  	<div class="comments-title">Comments on {{ page.title }}</div>
	
	<div id="disqus_thread"></div>
	<script>
	var disqus_config = function () {
		this.page.url = '{{ page.url | prepend:site.url }}';
		this.page.identifier = '{{ page.id }}';
		this.page.title = '{{ page.title }}';
	};
	(function() { // DON'T EDIT BELOW THIS LINE
	    var d = document, s = d.createElement('script');
	    s.src = '//aarondgordon.disqus.com/embed.js';
	    s.setAttribute('data-timestamp', +new Date());
	    (d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	
  </div>
</div>
